.chart-box {
    background-color: #ffffff;
}

.item-chart {
    width: 70%;
}

.item-chart {
    flex-basis: 70%;
    font-size: 14px;
}

.chart-product {
    flex-basis: 50%;
}

.chart-quantity {
    flex-basis: 30%;
}

.chart-price {
    flex-basis: 20%;
}

.chart-product img {
    width: 40px;
    border: 1px solid #c6c6c5;
    background-color: white;
    margin-right: 15px;
}

.discount-chart {
    flex-basis: 30%;
}


/* QUABBTITY BUTTON */


/* .checkout-quantity {
padding-top: 20px;
margin-right: 60px;
} */

.chart-quantity input {
    text-align: center;
    width: 32px;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    border: 1px solid #c8c8c8;
    color: #a27755;
}

button[class*="btn-quantity"] {
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: #a27755;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}


/* .minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
} */

button:focus,
input:focus {
    outline: 0;
}