* {
  box-sizing: border-box;
}
a {
  color: inherit !important;
}
a:hover {
  color: inherit !important;
  text-decoration: none !important;
}
.text-brown {
  color: #a27755;
}
.btn-brown {
  background-color: #a27755;
  color: white !important;
  margin-left: 5px;
}
.btn-white {
  background-color: white;
  color: #a27755;
  border: 1px solid #a27755;
}

/* Custom ScrollBar */
/* width */
body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
